body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  .i-table:hover{
    background-color: #052a6b;
    color: white;
  }
  
  .i-chart:hover{
    background-color: #052a6b;
    color: white;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    z-index:1;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #5d84f7;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #052a6b;
    color: white;
  }
  
  .sidenav a, .dropdown-btn {
    padding: 16px;
    text-decoration: none;
    color:#012970 ;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .dropdown-container {
    display: none;
    background-color:#ffff;
    padding-left: 8px;
  }
  .fa-angle-down {
    float: right;
    padding-right: 8px;
  }
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 1000px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 1000px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
    footer {
      text-align: center;
      padding: 3px;
    }
  
    @media screen and (max-width: 1000px) {
      .sidebar a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .sidebar a.icon {
        float: right;
        display: block;
      }
    }
    
    @media screen and (max-width: 1000px) {
      .sidebar.responsive {position: relative;}
      .sidebar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        
      }
      .sidebar.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
  
      .sidebar.responsive .dropdown {float:none;}
      .sidebar.responsive .dropdown-content {position: relative;}
      .sidebar.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
    }
    
  
      /* Aarti input form style start */
      #client_btn .btn {
        border-radius: 0.5rem;
        font-weight: 1.6;
        border-width: 1px;
        background-color: #1C4E80;
        color: white;
        font-weight: bold;
    }
    @media screen and (max-width: 600px) {
      .col-md-2, .col-md-10-auto, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }

    .navbar{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
    .table_tr{
      background-color: #1C4E80;
      color: white;
      font-family: 'Montserrat', sans-serif;
    }

    .table_tr1{
    
      font-family: 'Montserrat', sans-serif;
      background-color: white;
    }
    #clientId{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
     
    }

    #toc{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
      
    }

    #selectdesi{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #cfname{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #address{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #city{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #village{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #zip{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #mono{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #emailId{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #dob{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    #doe{
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
    }

    .text{
      font-weight: bold;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
    }

    .text_head{
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
    }

    .create_heading{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
    #heading{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: white;
    }
    .icon{
      color: #1C4E80;
    }


    #side_part{
      background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(28,78,128,1) 0%, rgba(255,255,255,1) 100%);

    }
 
          /* Aarti input form style end */
         
          